[submodule "1_message_dapp"]
	path = 1_message_dapp
	url = git@github.com:nvFede/message_dapp.git
[submodule "2_coffee_dapp"]
	path = 2_coffee_dapp
	url = git@github.com:nvFede/CoffeeDapp.git
[submodule "3_crowdfunind_dapp"]
	path = 3_crowdfunind_dapp
	url = git@github.com:nvFede/crowdfun-dapp.git
[submodule "0_Wallet_Connection"]
	path = 0_Wallet_Connection
	url = git@github.com:nvFede/wallet_connection.git
